[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/rainbow-parens-improved"]
	path = bundle/rainbow-parens-improved
	url = https://github.com/luochen1990/rainbow.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "utils/git-archive-all"]
	path = utils/git-archive-all
	url = https://github.com/hank/git-archive-all.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/hank/vim-unimpaired.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = https://github.com/sscherfke/rename.vim.git
[submodule "bundle/bbye"]
	path = bundle/bbye
	url = https://github.com/qiushihe/vim-bbye.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/better-whitespace"]
	path = bundle/better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/yankstack"]
	path = bundle/yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "bundle/fontsize"]
	path = bundle/fontsize
	url = https://github.com/drmikehenry/vim-fontsize.git
[submodule "bundle/fake"]
	path = bundle/fake
	url = https://github.com/tkhren/vim-fake.git
